<h1>Profile Details</h1>
<div *ngIf="user">
  <mat-card class="example-card center" style="float: left;">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ user.name }}</mat-card-title>
      <mat-card-subtitle>{{ user.phone }}; {{ user.email }}</mat-card-subtitle>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{user.background_image}}">
    <mat-card-content>
      <p>{{ user.bio }}</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card center" style="float: right;">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>

      <div class="example-button-row">
        <button mat-stroked-button color="primary" (click)="getLog()" id="bt">
          Log
        </button>
        <button mat-stroked-button color="primary" (click)="getResume()" id="bt">
          Resume
        </button>
        <button mat-stroked-button color="primary" (click)="getProject()" id="bt">
          Project
        </button>
        <button mat-stroked-button color="primary" (click)="getPersonalFile()" id="bt">
          Personal
        </button>
        <button mat-stroked-button color="primary" (click)="getHighlights()" id="bt">
          Highlights
        </button>
        <button mat-stroked-button color="primary" (click)="getCommunity()" id="bt">
          Community
        </button>
      </div>
    </mat-card-header>
    <div style="padding: 20px">
      <ng-container *ngIf="log">
        <div style="margin: 0 auto;text-align: left;">
          {{ user.log }}
        </div>
      </ng-container>
      <ng-container *ngIf="resume">
        <div style="margin: 0 auto;text-align: left;">
          <img src="{{user.resume}}" width="400px" height="500px">
        </div>
      </ng-container>
      <ng-container *ngIf="project">
        <div style="margin: 0 auto;text-align: left;">
          {{ user.project.title }}:
          {{ user.project.progress }}%
          <mat-progress-bar
            class="example-margin"
            [color]="color"
            [mode]="mode"
            [value]="80">
        </mat-progress-bar>
        </div>
      </ng-container>
      <ng-container *ngIf="personal_file">
        <div style="margin: 0 auto;text-align: left;">
          <p>{{ user.personal_file }}</p>
        </div>
      </ng-container>
          <ng-container *ngIf="highlights">
        <div style="margin: 0 auto;text-align: left;">
          <img src="{{user.highlights}}">
        </div>
      </ng-container>
      <ng-container *ngIf="community">
        <div style="margin: 0 auto;text-align: left;">
          <p>Connections: {{ user.community }}</p>
        </div>
      </ng-container>
    </div>
  </mat-card>
</div>

