<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">ABOUT <span class="w3-hide-small">WORLDWIDE AMERICAN</span></span>
  </div>
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <!-- <h3 class="w3-center">ABOUT US</h3> -->
  <!-- <p class="w3-center"><em>I love photography</em></p> -->
  <p>So much of our time online is marked with uncertainty. More often than need be, we are unsure if the person on the other end of the lines we access is compotent, much less, who they say they are. Hence, in 2019, the idea behind Worldwide American was started with the idea of bringing legitimacy and integrity to online interactions.</p>
  <br/>
  <p>We are a search engine that acts like a social media/ project management hub. We offer an environment for individuals tired of leaving their online activities to chance. Hence our community is based on online accountability to produce authentic results and interactions between users browsing our site in the states and worldwide.</p>
  <br/>
  <p>We believe that real experience creates exchange that becomes legendary. Legends then become motivation that drives the ambitions of our next generations. We hope that by joining our community you can help us set the stage for the next great leaders to showcase how greatness on the world's stage.</p>
  <br/>
  <p class="w3-center"><em>"The key to immortality is first living a life worth remembering"</em></p>
  <p class="w3-center"><em>- Bruce Lee<br></em></p><br>
  <p class="w3-center"><em>True Worldwide American<br></em></p><br>

</div>
