body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

table {
  border-collapse: collapse;
}

th, td {
  text-align: left;
  width: 500px;
  padding: 18px;
}

.hero-icon {
  text-align: center;
  padding: 50px;
}

.container {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  align-items: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.search-hero {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.form-control {
  width: 465px;
  box-shadow: 0 10px 40px 0 #B0C1D9;
  padding: 15px 40px 15px 20px;
  margin-right: 50px;
  color: #525252;
  font-size: 16px;
  font-weight: 100;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #FFFFFF 0%,#464747 #F9F9F9 100%);
  transition: width 0.4s ease;
}

.form-control::placeholder  {
  font-family: FontAwesome;
}
