<nav class="navbar navbar-default">
  <!-- <div class="navbar-header">
    <a class="navbar-brand" routerLink="/">{{ title }}</a>
  </div> -->
  <!-- <ul class="nav navbar-nav">
    <li>
      <a routerLink="profile" *ngIf="authService.isLoggedIn" routerLinkActive="active">Profile</a>
    </li>
  </ul> -->
  <ul class="nav navbar-nav navbar-left">
    <li>
      <a class="navbar-brand" routerLink="/"><img src="https://worldwideamerican-logo.s3-us-west-2.amazonaws.com/logo.png" height="30" width="30"></a>
    </li>
    <li>
      <a class="navbar-brand" routerLink="/">{{ title }}</a>
    </li>
    <li>
      <a class="navbar-brand" routerLink="/about">About</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a *ngIf="!authService.isLoggedIn" (click)="authService.login()">Log In</a>
    </li>
    <li>
      <a (click)="authService.logout()" *ngIf="authService.isLoggedIn">Log Out</a>
    </li>
  </ul>
</nav>